body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar {
    height: 60px;
    width: 100vw;
    background-color: #030a32;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
}

.menu-bars {
    color: white;
    font-size: larger;
}

.admin-page {
    color: white;
    font-size: larger;
    padding-left: 40px;
}

.side-bar {
    height: 100vw;
    width: 250px;
    background-color: black;
}

.sidebar-list {
    height: 100%;
    width: 100%;
    padding: 0;
}

.sidebar-list .row {
    width: 100%;
    height: 60px;
    text-decoration: none;
    margin: 0%;
    display: flex;
    font-size: larger;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar-list .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.sidebar-list #active {
    background-color: #293846;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}