body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar {
    height: 60px;
    width: 100vw;
    background-color: #030a32;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
}

.menu-bars {
    color: white;
    font-size: larger;
}

.admin-page {
    color: white;
    font-size: larger;
    padding-left: 40px;
}

.side-bar {
    height: 100vw;
    width: 250px;
    background-color: black;
}

